<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Apply Here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron text-center">
  <h1>Job Openings</h1>
  <p>Truecaller Careers.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1>Content Writer</h1>
      <p>Commercial-Bengluru India</p>
      <a  href="{% url 'bengluru' %}" class="btn btn-primary" >Apply</a>
    </div>
    <div class="col-sm-4">
      <h3>Coming Soon</h3>
      <p>Mumbai</p>
    </div>
    <div class="col-sm-4">
      <h3>Coming Soon</h3>
      <p>Pune</p>
    </div>
  </div>
</div>
  </body>
</html>
