<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bengluru Job</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <h1>Content Writer</h1>
        <span>at truecaller</span>
        <p>
          <strong>About Us</strong>

        </p>
        <p>   Remember the days when the phone rang and you didn’t know who it was? If it was the company you
          always dreamt working for? A call from a hospital trying to tell you someone close to you got sick?
          Or just that stubborn sales guy</p>

        <p>  Our mission is to make it possible for you to know who’s trying to contact you, and also tell you when not to pick up. We want to remove all uncertainty, making your communication safe and efficient by separating the important stuff from the noise and create trust, no matter if it’s in the beginning of a call, in the middle of a transaction or at the end of a signature. We are building a platform which empowers our users to take control of their own digital identity and making their communication more safe and efficient

        </p>
        <p>We are a diverse organisation with over 100 of the best minds coming from different backgrounds, joining hands to ensure our vision of building trust everywhere.

        </p>

        <p>
          Truecaller is one of the fastest growing tech companies in the world. We have 100 million daily active users around the world with the strongest presence in South Asia,
          Middle East and North Africa
        </p>
        <p>
          We are backed by some of the most prominent investors in the world such as Sequoia Capital, Atomico,
          and Kleiner Perkins Caufield & Byers.
        </p>
        <p>




        </p>
        <p>
          <strong>Your Mission</strong>
        </p>

        <p>
          As a Content Writer, you will work among other like-minded people in a fast-paced and highly collaborative environment. From digital marketing campaigns to CRM channels, you will have the opportunity to give voice to Truecaller’s communications. We are looking for you if..
        </p>

        <p>
          <strong>The details matter to you.</strong> You understand the nuanced implications of synonyms and syntax, and your itch for elegant language pushes you to polish every line until it shines.

        </p>

        <p>
          <strong>You iterate quickly and respect deadlines.</strong>When it is time to get locked in, you know how to move fast while still being meticulous and conscientious in your work.
        </p>
        <p>
          <strong>You know the medium matters.</strong> When you write content, you think about how it will be consumed. You understand how desktop vs. mobile, print vs. digital, and push vs. pull affects the way people read and retain information
        </p>
        <p>
          <strong>Some of your key responsibilities would be</strong>
        </p>
          <ul>
            <li>Managing end to end communication for Truecaller and Truecaller Pay as a brand</li>
            <li>Creating and maintain a global calendar for daily, weekly and monthly content schedule</li>
            <li>Managing campaign reports and analytics</li>
            <li>Managing the social media aspect for user activation</li>
            <li>Creating blog posts and articles on a variety of topics</li>
            <li>Editing existing content and peer reviewing</li>
            <li>Ideating for and designing SEO content</li>
            <li>Providing the digital marketing team with relevant social media content for Facebook, Twitter & Instagram</li>
            <li>Writing customer emailers as well as SMS and push notification content</li>
          </ul>

        <form class="" enctype="multipart/form-data" method="POST">
          <h1>Apply Here</h1>
            {{ job.as_p }}
            {{ message.as_p }}
            {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
  </body>
</html>
